<h1>Transactions</h1>

<p>This component demonstrates fetching transactions from the server.</p>

<p *ngIf="!transactions"><em>Loading...</em></p>

<table class='table' *ngIf="transactions">
  <thead>
    <tr>
      <th>Type</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td [style.background-color]="'Debet' == transaction.type ? '#39FE44' : '#FE4A39'">{{ transaction.type }}</td>
      <td>{{ transaction.amount }}</td>
      <td><button [class.selected]="transaction === selectedTransaction"
                  (click)="onSelect(transaction)">More...</button></td>

    </tr>
  </tbody>
</table>

<app-transaction-detail [transaction]="selectedTransaction"></app-transaction-detail>
