<div *ngIf="transaction">

  <h2>{{transaction.id | uppercase}} Details</h2>
  <div><span>id: </span>{{transaction.id}}</div>
  <div>
    <label>Type:
      <div>{{transaction.type}}</div>
    </label>
    <label>Amount:
      <div>{{transaction.amount}}</div>
    </label>
    <label>Date:
      <div>{{transaction.effectiveDate}}</div>
    </label>
  </div>

</div>
