<h1>Account</h1>

<p>This is a simple example of an Angular component.</p>

<p>Current Money: <strong>{{ currentMoney }}</strong></p>

<input #amount amount.value=''>

<button (click)="Credit(amount.value)">Credit</button>
<button (click)="Debet(amount.value)">Deposit</button>
